{% extends "UMS_templates/layout.html" %}

{% block content %}


<div class="row row-cols-1 row-cols-md-2">

    <div class="col my-4">
        <div class="card text-left">
            <div class="card-header text-center">
                <h3>Personal Details</h3>
            </div>
            <div class="card-body">
                <form action="/account_update/" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                
                    <div class="form-group ml-4 mt-2">
                        <label for="inputFname">First Name</label>
                        <input type="text" class="form-control border-secondary" name="inputFname" value="{{ user_dict.fname if user_dict.fname }}"
                            aria-describedby="emailHelp">
                    </div>
                
                    <div class="form-group ml-4 mt-2">
                        <label for="inputLname">Last Name</label>
                        <input type="text" class="form-control border-secondary" name="inputLname" value="{{ user_dict.lname if user_dict.lname }}"
                            aria-describedby="emailHelp">
                    </div>
                
                    <div class="form-group ml-4 mt-2">
                        <label for="inputPhone">Primary Phone Number</label>
                        <input type="text" class="form-control border-secondary" name="inputPhone" value="{{ user_dict.phone1 if user_dict.phone1 }}"
                            aria-describedby="emailHelp">
                    </div>

                    <div class="form-group ml-4 mt-2">
                        <label for="inputPhone">Secondary Phone Number</label>
                        <input type="text" class="form-control border-secondary" name="inputPhone2" value="{{ user_dict.phone2 if user_dict.phone2 }}"
                            aria-describedby="emailHelp">
                    </div>
                
                    <div class="form-group ml-4 mt-2">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control border-secondary" name="inputEmail" value="{{ user_dict.email if user_dict.email }}"
                            aria-describedby="emailHelp">
                    </div>
                
                    <button type="submit" class="btn btn-lg btn-outline-success ml-4 mb-2">Update</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <div class="col my-4">
        <div class="card text-left">
            <div class="card-header text-center">
                <h3>Delivery Information</h3>
            </div>
            <div class="card-body">
                <form action="/account_update/" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        
                    <div class="form-group ml-4 mt-2">
                        <label for="inputFname">Address</label>
                        <input type="text" class="form-control border-secondary" name="inputAddress" value="{{ user_dict.address if user_dict.address }}"
                            aria-describedby="emailHelp">
                    </div>
        
                    <div class="form-group ml-4 mt-2">
                        <label for="inputLname">City</label>
                        <input type="text" class="form-control border-secondary" name="inputCity" value="{{ user_dict.city if user_dict.city }}"
                            aria-describedby="emailHelp">
                    </div>
        
                    <div class="form-group ml-4 mt-2">
                        <label for="inputPhone">Region</label>
                        <input type="text" class="form-control border-secondary" name="inputRegion" value="{{ user_dict.region if user_dict.region }}"
                            aria-describedby="emailHelp">
                    </div>
        
                    <div class="form-group ml-4 mt-2">
                        <label for="inputEmail">Any Additional Information (Optional)</label>
                        <!-- <input type="email" class="form-control border-secondary" id="inputEmail" name="inputEmail"
                            aria-describedby="emailHelp"> -->
                        <textarea rows="4" class="form-control border-secondary" name="accAdditionalInfo">{{ user_dict.additionalInfo if user_dict.additionalInfo }}</textarea>
                    </div>
        
                    <button type="submit" class="btn btn-lg btn-outline-success ml-4 mb-2">Update</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

</div>

<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

{% endblock %}