{% extends "UMS_templates/layout.html" %}

{% block content %}

    <div class="card border-secondary shadow-2">
      <div class="card-header text-center">
        <h3>Sign In</h3>
      </div>

        <form action="/login/" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <div class="form-group ml-4 mt-2">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control border-secondary" id="inputEmail" name="inputEmail" aria-describedby="emailHelp">
            </div>

            <div class="form-group ml-4">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control border-secondary" id="inputPassword" name="inputPassword">
            </div>

            <button type="submit" class="btn btn-lg btn-outline-danger ml-4 mb-2">Sign In</button>
        </form>

      <div class="card-footer text-muted text-center">
        Don't Have An Account? <strong><a href="/register/" class="text-danger">Sign Up Instead</a></strong>
      </div>
    </div>


{% endblock %}