{% extends "UMS_templates/layout.html" %}

{% block content %}

    <div class="card border-secondary shadow-2">
      <div class="card-header text-center">
        <h3>Sign In</h3>
      </div>

        <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              
            <div class="form-group ml-4 mt-2">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control border-secondary" id="inputEmail" aria-describedby="emailHelp">
            </div>

            <div class="form-group ml-4">
                <label for="inputPassord">Password</label>
                <input type="password" class="form-control border-secondary" id="inputPassord">
            </div>

            <button type="submit" class="btn btn-lg btn-outline-danger ml-4 mb-2">Sign In</button>
        </form>

      <div class="card-footer text-muted text-center">
        Date & Time Here??
      </div>
    </div>


{% endblock %}