{% extends "UMS_templates/layout.html" %}

{% block content %}

<div class="card border-secondary shadow-2">
    <div class="card-header text-center">
        <h3>Create New Password</h3>
    </div>

    <form action="" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group ml-4">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control border-secondary" id="inputPassword" name="inputPassword">
        </div>
        
        <div class="form-group ml-4">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control border-secondary" id="inputConfirmPassword" name="inputConfirmPassword">
        </div>

        <button type="submit" class="btn btn-lg btn-outline-danger ml-4 mb-2">Reset</button>
    </form>

</div>


{% endblock %}