{% extends "layout.html" %}

{% block content %}


<div class="card-deck">
<div class="row row-cols-1 row-cols-md-4">

  {% for items in prods %}

    <a class="text-danger" href="/gen/{{ items.productName }}/">
    <div class="col mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='logo.png').replace('logo.png', items.picturePath) }}" class="card-img-top" alt="{{ items.productName }}">

        <div class="card-footer bg-white">
          <h5 class="card-title text-dark">{{ items.productName }}</h5>
        </div>
      </div>
    </div>
    </a>

  {% endfor %}

</div>
</div>





{% endblock content %}