{% extends "layout.html" %}

{% block content %}

<div class="row row-cols-1 my-4 row-cols-md-2">

  
  <div class="col mb-4">
    <div class="card">
      <a class="text-danger" href="/gen/ffashion/">
      <img src="{{ url_for('static', filename='female/female.jpg') }}" class="card-img-top" alt="...">

      <div class="card-footer bg-white">
        <h5 class="card-title text-dark">Ladies' Fashion</h5></a>
        <p class="card-text text-dark">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <a class="text-danger" href="/gen/mfashion/">
      <img src="{{ url_for('static', filename='men/men.jpg') }}" class="card-img-top" alt="...">

      <div class="card-footer bg-white">
        <h5 class="card-title text-dark">Men's Fashion</h5></a>
        <p class="card-text text-dark">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <a class="text-danger" href="/gen/kfashion/">
      <img src="{{ url_for('static', filename='kids/kids.jpg') }}" class="card-img-top" alt="...">

      <div class="card-footer bg-white">
        <h5 class="card-title text-dark">Kids' Fashion</h5></a>
        <p class="card-text text-dark">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>      
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <a class="text-danger" href="/gen/narrivals/">
      <img src="{{ url_for('static', filename='female/default.png') }}" class="card-img-top" alt="...">

      <div class="card-footer bg-white">
        <h5 class="card-title text-dark">New Arrivals!</h5></a>
        <p class="card-text text-dark">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>      
    </div>
  </div>

</div>



<div class="card-deck">
<div class="row row-cols-1 row-cols-md-4">

  {% for categories in c %}

    <a class="text-danger" href="/gen/{{ categories.categoryName }}/">
    <div class="col mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='logo.png').replace('logo.png', categories.picPath) }}" class="card-img-top" alt="{{ categories.categoryName }}">

        <div class="card-footer bg-white">
          <h5 class="card-title text-dark">{{ categories.categoryName }}</h5>
        </div>
      </div>
    </div>
    </a>

  {% endfor %}

</div>
</div>





{% endblock content %}