{% extends "layout.html" %}

{% block content %}

{% for pdt in proDict %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">

    <div class="col-md-4">
      <img src="{{ url_for('static', filename=pdt.picturePath) }}" class="card-img" alt="{{ pdt.productName }}">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <a class="text-danger" href="#">
          <h5 class="card-title text-dark">{{ pdt.productName }}</h5>
        </a>

        {# Ratings #}
        {% if proDict[pdt][0][0] == 5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked">   ({{ proDict[pdt][0][1] }} Reviews)</span>

        {% elif proDict[pdt][0][0] == 4 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star ">   ({{ proDict[pdt][0][1] }} Reviews)</span>

        {% elif proDict[pdt][0][0] == 3 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star ">   ({{ proDict[pdt][0][1] }} Reviews)</span>

        {% elif proDict[pdt][0][0] == 2 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star ">   ({{ proDict[pdt][0][1] }} Reviews)</span>

        {% elif proDict[pdt][0][0] == 1 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star ">   ({{ proDict[pdt][0][1] }} Reviews)</span>

        {% else %}
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star ">   ({{ proDict[pdt][0][1] }} Reviews)</span>

        {% endif %}
        
        <p class="card-text"><b>Brand : <a class="text-danger" href="#">{{ proDict[pdt][1] }}</a></b></p>

        <hr>

        <h5 class="card-title text-dark">Select Your Features</h5>
        <h6 class="card-title text-dark">Color : </h6>
        <h6 class="card-title text-dark">Size  : </h6>
        <h6 class="card-title text-dark">Material : </h6>
        <h6 class="card-title text-dark">Quantity : </h6>     

        <hr>

        <a class="btn btn-block btn-danger" href="#">Add to Cart - Ksh. {{ pdt.productPrice }} /=</a>

      </div>
    </div>

  </div>
</div>

{% endfor %}











{% endblock content %}