<!doctype html>

<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href=" {{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <title>Drip-Hub</title>
  </head>


  <body>
  <div class="container-fluid">


    <!-- Navbar with Image and text -->

    <!-- Sticky navbar - hide driphub logo. this also auto fixes to top -->
    <!-- Still need to work on the spacing to align the layout better -->
    <!-- The search bar should still be visible - sticky?? -->


    <!-- <nav class="navbar navbar-expand-md bg-primary sticky-top"> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"  href="/">
        <img src="{{ url_for('static', filename='blood-drops-three-red-2usd.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Logo"> Drip-Hub</a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerLen">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerLen">

        <form class="form-inline ml-auto">
          <input class="form-control mw-100 px-5 mr-2" type="search" placeholder="Search our Store">
          <button class="btn btn-outline-danger my-2 px-4 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/" class="btn btn-outline-danger my-2 px-4 my-sm-0">Sign In</a>
            
            <div class="btn-group">
              <button type="button" class="btn px-auto btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item btn-outline-danger" type="button ">Contact Us</button>
                <button class="dropdown-item btn-outline-danger" type="button">About Drip-Hub</button>
                <button class="dropdown-item btn-outline-danger" type="button">Sell on Drip-Hub</button>
              </div>
            </div>

            <a href="/" class="btn btn-outline-danger my-2 px-3 my-sm-0">View Cart</a>
          </li>
        </ul>

      </div>
    </nav>


    <h1>Hello, world!</h1>

    
    {% block content %}

    {% endblock content %}

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  

  </div>
  </body>


</html>